body {
    background-color: antiquewhite;
}
* {
    font-family: Tahoma, sans-serif;
}

section {
    display: block;
    background-color: white;
    border-radius: 8px;
    padding: 0px 20px;
    margin-top: 10px;
    max-width: 70%;
    margin: auto;
}

section h1 {
    padding: 20px 0px;
}

section form#info input {
    margin-top: 10px;
}

section div {
    margin: 20px 0px 15px;
}

section div#res {
    padding: 20px 0px;
}